{% extends "layout.html" %}

{% block main %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <h3 class="display-3 fw-bold">Welcome, {{ session['username'] }}</h3>
      
      
      <div class="d-flex gap-3 justify-content-center lead fw-normal">
        <h4 class="display-3 fw-bold">Your Contacts</h4>
        <br>

        <table class="table">
           

            <thead >
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Phone Number</th>
                
              </tr>
            </thead>
            <tbody>
        
                {% for  contact in contacts %}
              <tr>
                
                <td>{{ contact['name'] }}</td>
                <td>{{ contact['phone'] }}</td>
                <td>{% if not contact['favourite'] %}
                    <a href="{{ url_for('add_favourite', contact_id=contact['_id']) }}">☆</a>
                {% else %}
                    <a href="{{ url_for('remove_favourite', contact_id=contact['_id']) }}">⭐</a>
                {% endif %}
                <a href="{{ url_for('edit_contact', contact_id=contact['_id']) }}">Edit</a>
                <a href="{{ url_for('delete_contact', contact_id=contact['_id']) }}">Delete</a></td>
                
              </tr>
              
                
              
            </tbody>
            {% endfor %}
          </table>
        
        
      </div>
    </div>
    
  </div>



    
    
    <ul>
    
    </ul>
    <a href="{{ url_for('new_contact') }}">Add new contact</a>



 {% endblock %}
